{% extends 'base.html' %}

{% block content %}
{% csrf_token %}
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<h2>Animal types</h2>
{% if user.is_authenticated %}
      <h4><a href="{% url 'add-type' %}">+ Add type</a></h4>
{% endif %}
<body>
<table style="width:100%">
  <tr>
    <th>Type</th>
    <th>Breed</th>
    <th>Breed number</th>
    <th>Description</th>
    <th>Picture</th>
  </tr>
    {% for type in types %}
  <tr>
    <td>{{ type.type }}</td>
    <td>{{ type.breed }}</td>
    <td>{{ type.breed_number }}</td>
    <td>{{ type.description }}</td>
    <td><img src="{{ type.picture.url }}" alt="{{ type.picture.name }}" height="200"></td>
  </tr>
    {% endfor %}
</table>
</body>
{% endblock %}