{% extends 'base.html' %}

{% block content %}
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<h2>Food list</h2>
    <h4><a href="{% url 'add-food' %}">+ Add food</a></h4>
<body>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Animal age start</th>
    <th>Animal age end</th>
    <th>Animal weight start</th>
    <th>Animal weight end</th>
    <th>Amount</th>
  </tr>
    {% for food in foods %}
  <tr>
    <td>{{ food.name }}</td>
    <td>{{ food.age_start }}</td>
    <td>{{ food.age_end }}</td>
    <td>{{ food.weight_start }}</td>
    <td>{{ food.weight_end }}</td>
    <td>{{ food.amount }}</td>
  </tr>
    {% endfor %}
</table>
</body>
{% endblock %}